* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 900px;
}

header {
    background-image: url("img/consolep2.jpg");
    text-align: center;
    width: 100%;
    height: auto;
    background-size:contain;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 85% 85% / 30%;
}

    header .overlay {
        width: 100%;
        height: 100%;
        padding: 50px;
        color: #FFF;
        text-shadow: 1px 1px 1px #333;
        background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%);
    }

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    float: left;
    padding-left: 0.8%;
}

a.navbar {
    float: left;
    padding: 0 15px 5px;
    min-height: 55px;
    margin-top: 10px;
    padding: 0 15px 5px;
}

h3, p {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px;
}

button {
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 50px;
    color: #333;
    background: #fff;
    margin-bottom: 50px;
    box-shadow: 0 3px 20px 0 #0000003b;
    position:;
}

    button:hover {
        cursor: pointer;
    }

.vertical{
    border-right: 6px solid black;
    height: 80px;
    float:left;
    //position: absolute;
    //left: 50;
}

.titlebar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
}

.one{
    display: inline;
}

.mainbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: center;
    
}

.nav{
    display: inline;
    padding: 0% 0% 0% 1%;
   
}